<main fxFill fxLayout fxLayoutAlign="center center">
  <h1>
  </h1>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Here is your chat!
        <h3><a [href]="'https://www.twitch.tv/popout/' + auth.userState.name + '/chat'">Go to your chat</a></h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let message of messageArray">
          <span [style.color]="message.color">{{message.author}}</span>:
          <span style="margin-left: 0.5rem;" [matBadgeHidden]="message.repeatCount === 1"
                [matBadge]="'x' + message.repeatCount">{{message.content}}</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</main>
