html, body {
  height: 100%;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  outline: none;
}

router-outlet {
  display: none;
}

.mat-expansion-indicator
{
  margin-right: 10px;
  margin-bottom: 5px;
}

.mat-expansion-indicator:after {
  padding: 8px !important;
  margin-bottom: 5px !important;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.mat-drawer-inner-container {
  overflow: hidden !important;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

html {
  scrollbar-face-color: #646464;
  scrollbar-base-color: #646464;
  scrollbar-3dlight-color: #646464;
  scrollbar-highlight-color: #646464;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #646464;
}

::-webkit-scrollbar {
  width: 8px;
  height: 3px;
}

::-webkit-scrollbar-button {
  background-color: #666;
}

::-webkit-scrollbar-track {
  background-color: #646464;
}

::-webkit-scrollbar-track-piece {
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #666;
}

::-webkit-scrollbar-corner {
  background-color: #646464;
}

::-webkit-resizer {
  background-color: #666;
}
@media screen and (max-width: 400px) {
  .cdk-overlay-pane{
    max-width: 100% !important;
  }
}
@media screen and (min-width: 600px) {
  .cdk-overlay-pane{
    max-width: 60% !important;
  }
}
@media screen and (min-width: 800px) {
  .cdk-overlay-pane{
    max-width: 50% !important;
  }
}
@media screen and (min-width: 800px) {
  .cdk-overlay-pane{
    max-width: 500px !important;
  }
}

.mat-menu-panel {
  min-height: 10px !important;
  color: white;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
  outline: none;
}

router-outlet {
  display: none;
}

[disabled] {
  cursor: not-allowed !important;
}
