<main>

  <section *ngIf="!IsInParty" class="layout">
    <h1 style="text-align: center">Youtube Music Party!</h1>

    <h3 style="text-align: center">Join Party</h3>
    <mat-form-field style="width: 100%" appearance="outline">
      <mat-label>Join Party</mat-label>
      <input matInput [value]="value" placeholder="Party Code">
    </mat-form-field>

    <button color="accent" mat-raised-button (click)="onJoinPartyButtonClick()" style="width: 100%">Join</button>

    <h3 style="text-align: center">Create Party</h3>
    <button color="accent" mat-raised-button (click)="onCreatePartyButtonClick()" style="width: 100%"> Create</button>
  </section>

  <section *ngIf="IsInParty" class="layout">
    <h2>Party Code: {{joinedPartyCode ? joinedPartyCode : ''}}</h2>

    <button color="accent" mat-raised-button (click)="onCreatePartyButtonClick()" style="width: 100%"> Create</button>

  </section>

</main>
