<section fxLayout="column" class="bg-gradient" style="padding-top: 3rem; padding-bottom: 5rem; color: white;">
  <div fxFlex="100" fxLayoutAlign="center center" style="padding-bottom: 4rem;">
    <div fxLayout="row" fxFlex="60" fxLayoutAlign="space-between center">
      <div class="heading-brand">Better Chat</div>
      <button [routerLink]="['/dashboard']" style="color: white; padding: 0.5rem 0.5rem 0.5rem 0.5rem"
              mat-stroked-button>
        Dashboard
      </button>
    </div>
  </div>
  <div fxFlex="50" fxLayoutAlign="center center" style="font-size: larger; margin: 1rem 1rem;">
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="50" style="text-align: center">
      <h1>Better Chat Experience For Streamers</h1>
      <p class="lead mb-5">Better Chat is open source chat client for streamers for better chat experience. It detect
        the duplicated messages and adds mark on it.</p>
      <a style="margin-top: 3rem" href="https://github.com/fishuke/better-chat">
        <button mat-raised-button style="background-color: greenyellow; color: black">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
               stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
               class="feather feather-github mr-2">
            <path
              d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
          </svg>
          <em style="margin-right: 0.5rem" data-feather="github"></em>
          Contribute


        </button>
      </a>
    </div>
  </div>
</section>
<section fxLayoutAlign="center center" style="padding: 6rem 6rem; background-color: #303030; color: white">
  <div fxFlex="66" fxLayout="column">
    <div style="text-align: center">
      <h2 fxFlex>Reasons Why People Love <span style="color: forestgreen">Better Chat</span></h2>

    </div>
    <div fxLayout="row" fxLayoutAlign="space-between space-between">
      <div fxFlex fxLayout="column">
        <div fxFlex="50" style="font-size: larger; margin: 1rem 1rem;">
          <div fxLayout>
            <mat-icon style="color: white; margin-right: 1rem;">check</mat-icon>
            <div>
              Human Readable
            </div>
          </div>
        </div>
        <div fxFlex="50" style="font-size: larger; margin: 1rem 1rem;">
          <div fxLayout>
            <mat-icon style="color: white; margin-right: 1rem;">check</mat-icon>

            <div class="media-body">
              Highly Intuitive
            </div>
          </div>
        </div>
        <div fxFlex="50" style="font-size: larger; margin: 1rem 1rem;">
          <div fxLayout>
            <mat-icon style="color: white; margin-right: 1rem;">speed</mat-icon>

            <div class="media-body">
              Light as a Feather
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="column" style="text-align: right">
        <div fxFlex="50" style="font-size: larger; margin: 1rem 1rem;">
          <div fxLayout>
            <mat-icon style="color: white; margin-right: 1rem;">quickreply</mat-icon>

            <div class="media-body">
              Blazing Fast
            </div>
          </div>
        </div>
        <div fxFlex="50" style="font-size: larger; margin: 1rem 1rem;">
          <div fxLayout>
            <mat-icon style="color: white; margin-right: 1rem;">code</mat-icon>

            <div class="media-body">
              Open Source
            </div>
          </div>
        </div>
        <div fxFlex="50" style="font-size: larger; margin: 1rem 1rem;">
          <div fxLayout>
            <mat-icon style="color: white; margin-right: 1rem;">extension</mat-icon>

            <div class="media-body">
              Customizable
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer fxLayout="column" fxLayoutAlign="center center"
        style="padding: 2rem 2rem; background-color: #202020; color: white">

  <div>
    <div style="color: white; font-weight: lighter">
      &copy; 2020 Better Chat - All Rights Reserved
    </div>
  </div>
</footer>

