<section class="bg-gradient pt-5 pb-6">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex flex-row align-items-center justify-content-between">
        <div class="heading-brand">Better Chat</div>
        <a href="dashboard">
          <button [routerLink]="['dashboard']" style="padding: 0.5rem 0.5rem 0.5rem 0.5rem" mat-stroked-button>
            Dashboard
          </button>
        </a>
      </div>
    </div>
    <div class="row mt-6">
      <div class="col-md-8 mx-auto text-center">
        <h1>Better Chat Experience For Streamers</h1>
        <p class="lead mb-5">Better Chat is open source chat client for streamers for better chat experience. It detect
          the duplicated messages and adds mark on it.</p>
        <a href="https://github.com/better-chat/" class="btn btn-success svg-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
               stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
               class="feather feather-github mr-2">
            <path
              d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
          </svg>
          <em class="mr-2" data-feather="github"></em>
          Contribute
        </a>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-9 mx-auto">
        <div class="code-window">
          <div class="dots">
            <div class="red"></div>
            <div class="orange"></div>
            <div class="green"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Features Section-->
<section class="py-6">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h2 class="text-center text-md-left">Reasons Why People Love <span class="text-success">Better Chat</span></h2>
        <div class="row feature-grid">
          <div class="col-sm-6">
            <div class="media">
              <mat-icon color="primary">check</mat-icon>
              <div class="media-body">
                Human Readable
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="media">
              <mat-icon color="primary">check</mat-icon>

              <div class="media-body">
                Highly Intuitive
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="media">
              <mat-icon color="primary">speed</mat-icon>

              <div class="media-body">
                Light as a Feather
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="media">
              <mat-icon color="primary">quickreply</mat-icon>

              <div class="media-body">
                Blazing Fast
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="media">
              <mat-icon color="primary">code</mat-icon>

              <div class="media-body">
                Open Source
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="media">
              <mat-icon color="primary">extension</mat-icon>

              <div class="media-body">
                Customizable
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <ul class="list-inline">
          <li class="list-inline-item"><a href="login">Login</a></li>
        </ul>
      </div>
    </div>
    <div class="row my-2">
      <div class="col-md-4 mx-auto text-muted text-center small-xl">
        &copy; 2020 Better Chat - All Rights Reserved
      </div>
    </div>
  </div>
</footer>
