.bg-gradient {
  background: #6441a5;
}

.heading-brand {
  font-weight: 800;
  font-size: 1.75rem;
  color: white;
}

.svg-icon {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
}
